<form class="form-group" [formGroup]="formGroup">
  <div class="form-icon">
    <img src="/assets/images/icons/icon-hour.png" alt="" /> Horário
  </div>
  <h3>Qual período você quer treinar?</h3>
  <div class="radio-wrapper">
    <div>
      <input type="radio" name="hour" value="morning" id="" formControlName="hour" />
      <label for="morning">Manhã</label>
    </div>
    <span>6:00 às 12:00</span>
  </div>
  <div class="radio-wrapper">
    <div>
      <input type="radio" name="hour" value="afternoon" id="" formControlName="hour" />
      <label for="afternoon">Tarde</label>
    </div>
    <span>12:01às 18:00</span>
  </div>
  <div class="radio-wrapper">
    <div>
      <input type="radio" name="hour" value="night" id="" formControlName="hour"/>
      <label for="night">Noite</label>
    </div>
    <span>18:00 às 23:00</span>
  </div>

  <div class="radio-wrapper">
    <div class="checkbox-wrapper">
      <input type="checkbox" name="showClosed" formControlName="showClosed" />
      <label for="showClosed">Exibir unidades fechadas</label>
    </div>
    <span>Resultados encontrados: {{ results.length }}</span>
  </div>
  <div class="btn-wrapper">
    <button class="btn btn-primary" (click)="onSubmit()">Encontrar unidades</button>
    <button class="btn btn-secondary" (click)="onClean()">Limpar</button>
  </div>
</form>
